
*.obj
*.pdb
*.idb
*.ncb
*.res
*.pch
*.htm
*.ilk
*.dep
*.user
N64MidiTool/N64MidiTool/Debug/N64MidiTool.exe.embed.manifest
N64MidiTool/N64MidiTool/Debug/N64MidiTool.exe.intermediate.manifest
N64MidiTool/N64MidiTool/Release/N64MidiTool.exe.intermediate.manifest
N64SoundbankTool/Debug/N64SoundbankTool.exe.embed.manifest
N64SoundbankTool/Debug/N64SoundbankTool.exe.intermediate.manifest
N64SoundbankTool/Release/N64SoundbankTool.exe.intermediate.manifest
N64SoundListToolUpdated/N64SoundTool/Debug/N64SoundListTool.exe.embed.manifest
N64SoundListToolUpdated/N64SoundTool/Debug/N64SoundListTool.exe.intermediate.manifest
N64SoundListToolUpdated/N64SoundTool/Release/N64SoundListTool.exe.intermediate.manifest
N64MidiTool/Debug/N64MidiLibrary.lib
N64MidiTool/Debug/N64MidiTool.exe
N64MidiTool/Debug/N64MidiToolReader.lib
N64MidiTool/N64MidiTool.suo
N64SoundbankTool/gameconfigmidi.ini
N64SoundbankTool/gameconfigsound.ini
N64SoundListToolUpdated/Debug/N64SoundLibrary.lib
N64SoundbankTool/Debug/N64SoundbankTool.exe
N64SoundListToolUpdated/Debug/N64SoundListTool.exe
N64SoundListToolUpdated/Debug/N64SoundListToolENU.dll
N64SoundListToolUpdated/Debug/N64SoundListToolPTB.dll
N64SoundListToolUpdated/Debug/N64SoundToolReader.lib
